body {
    background: hsl(230, 17%, 14%);
    transition: background 0.3s ease;
}

body.light-mode {
    background: hsl(0, 0%, 100%);
}

.border-facebook {
    border-color: hsl(208, 92%, 53%);
}

.border-twitter {
    border-color: hsl(203, 89%, 53%);
}

.border-instagram {
    border-top: 4px solid;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-image-slice: 1;
    border-radius: 0.375rem 0.375rem 0 0;
}

.border-youtube {
    border-color: hsl(348, 97%, 39%);
}
